<h1>All Users</h1>
<div class="index container">
<% @users.each do |user| %>
 <div class="card"> 

  <%= image_tag user.avatar, :class => 'thumb' if user.avatar.present? %>

   <%= link_to user.email, user %>
  
 </div>
<% end %>

</div>